@charset "EUC-KR";

body {
	text-align: center;
	background-image:
		url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 10px;
}
.input{
	background-color: #ffffff;
	padding: 20px;
	width: 550px;
	
	margin-left: auto;
	margin-right: auto;
		border-radius: 8px;
		margin-top:autox;
		margin-bottom: auto;

	}

.JoinTable {
	text-align: left;
	text-align: left;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}